body {
    background-color: #f4f4f4;
    margin-top: 50px;
    font-family: 'Lato';
}

.item {
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px  rgba(0,0,0,0.2);
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}


button:focus {
    border: 1px solid #333;
}
.remove button:hover {
	background-color: #f44242;
}
.center-image-container{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
